.search {
  margin: 4.8rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include responsive(tabletmd) {
    flex-direction: column;
    align-items: start;
    gap: 5rem;
    margin-left: 2rem;
  }
}
.search__input {
  width: 100%;
  max-width: 480px;
  background-color: $color-white;
  border-radius: 5px;
  padding: 1.8rem 1rem 1.8rem 7.4rem;
  background-image: url("../../images/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: top 19px left 32px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  outline: none;
  font-weight: 400;
  transition: all 0.3s ease;
}
.search__input:focus {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.0532439);
}
.search__input::placeholder {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.42;
  color: var(--plasecholor-color);
}
.search__select {
  width: 200px;
  background-color: var(--white-bg-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  padding: 1.8rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1.4;
  font-weight: 400;
  position: relative;
  transition: all 0.3s ease;
}

.search__select-list {
  width: 200px;
  padding: 1.2rem 0;
  background-color: $color-white;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  line-height: 1.4;
  font-weight: 400;
  transform: translateY(100%);
  position: absolute;
  bottom: -4px;
  left: 0;
  visibility: hidden;
  transition: visibility 0.5s linear;
}
.search__select svg path {
  fill: $color-snow;
}
.search__select:hover .search__select-list {
  visibility: visible;
}
.search__select-list li {
  padding: 0.4rem 2.4rem;
}
.search__select-list li:hover {
  background-color: $color-green;
  color: #fff;
}

.cards__wrapper {
  padding-top: 6rem;
}

.cards {
  padding-bottom: 4.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 7.5rem;

  @include responsive(tabletbig) {
    gap: 4rem;
  }

  @include responsive(mobilebig) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  @include responsive(mobilemed) {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 4rem;
  }

  @include responsive(mobilemedium) {
    gap: 3rem;
  }
}
.cards__item {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  transition: all 0.3s ease;
  background: $color-bg;
}
.cards__item-inner {
  padding: 2rem 1rem 2.5rem 2.4rem;
}
.cards__item img {
  width: 100%;
  height: auto;
  height: 220px;
  object-fit: cover;

  @include responsive(tabletmd) {
    object-fit: cover;
  }
}
.cards__title {
  margin-bottom: 1.6rem;
  font-weight: $main-font-w-2;
  font-size: $h4-font-sz-2;

  @include responsive(mobilemed) {
    font-size: $h4-font-sz-3;
  }
}

.cards__link {
  color: rgb(0, 106, 255);
  font-weight: $main-font-w-2;
  border: 2px solid rgb(0, 106, 255);
  padding: 3px 5px;
  border-radius: 5px;

  @include responsive(mobilemed) {
    font-size: $main-font-sz-2;
  }
}

.cards__link:hover {
  background-color: rgb(0, 106, 255);
  color: $color-white;
}

.cards__filtr-title {
  font-size: $h4-font-sz-2;
  line-height: $main-line-h;
}
.cards__filtr-list {
}
.cards__filtr-item {
  font-weight: $main-font-w-2;
  font-size: $main-font-sz;
  line-height: 2;
  margin-left: 1.5rem;
}

.cards__filtr-item:hover {
  cursor: pointer;
  opacity: 0.6;
}

.cards__filtr-item:active {
  color: $color-green;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
