@mixin starter {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin responsive($size) {
  @if $size == tablet {
    @media screen and (max-width: 990px) {
      @content;
    }
  } @else if $size == tabletbig {
    @media screen and (max-width: 1170px) {
      @content;
    }
  } @else if $size == tabletmd {
    @media screen and (max-width: 850px) {
      @content;
    }
  } @else if $size == mobilebig {
    @media screen and (max-width: 740px) {
      @content;
    }
  } @else if $size == mobile {
    @media screen and (max-width: 650px) {
      @content;
    }
  } @else if $size == mobilemd {
    @media screen and (max-width: 550px) {
      @content;
    }
  } @else if $size == mobilemed {
    @media screen and (max-width: 480px) {
      @content;
    }
  } @else if $size == mobilemedium {
    @media screen and (max-width: 430px) {
      @content;
    }
  }
}
