// COLORS

$color-white: #ffffff;
$color-yellow: #ffd700;
$color-bg: linear-gradient(
  97.77deg,
  rgba(245, 245, 245, 0.5) -23.46%,
  rgba(245, 245, 245, 0.5) 107.51%
);
$color-green: #05ad26;
$color-darc: #3d3d3d;
$color-snow: #fbfbfb;
$color-contact-bg: rgba(70, 163, 88, 0.1);

// Typography

$main-font-family: "Plus Jakarta Sans";

$main-font-w: 400;
$main-font-w-2: 500;
$main-font-w-3: 700;
$main-font-w-4: 800;

$main-font-sz: 1.6rem;
$main-font-sz-2: 1.3rem;
$main-font-sz-3: 1rem;
$main-font-sz-4: 0.7rem;
$main-font-sz-5: 0.5rem;
$main-line-h: 1.66;
$main-line-h-2: 1.2;

$h1-font-sz: 6.5rem;
$h1-line-h: 1;

$h2-font-sz: 5.3rem;
$h2-font-sz-2: 4.5rem;
$h2-line-h: 1;
$h2-leter-sp: -2.14px;
$h2-leter-sp-2: -1.43px;

$h3-font-sz: 4rem;
$h3-font-sz-2: 3.2rem;
$h3-font-sz-3: 2.7rem;
$h3-line-h: 1.2;
$h3-leter-sp: -1.79px;

$h4-font-sz: 2.4rem;
$h4-font-sz-2: 2rem;
$h4-font-sz-3: 1.7rem;
$h4-line-h: 3;
$h4-line-h-2: 1.4;
$h4-leter-sp: -1.07px;
$h4-leter-sp-2: -0.89px;
